<div class="row">
    <nav class="mb3">
        <ul class="pagination">
            <li class="page-item page-nav" id="prev-all" disabled="disabled"><a class="page-link" href="#">&lt;&lt;</a></li>
            <li class="page-item page-nav" id="prev" disabled="disabled"><a class="page-link" href="#">&lt;</a></li>
            <li class="page-item page-plus-minus" id="minus2" disabled="disabled"><a class="page-link" href="#">-2</a></li>
            <li class="page-item page-plus-minus" id="minus1" disabled="disabled"><a class="page-link" href="#">-1</a></li>
            <li class="page-item active" id="current-page"><a class="page-link" href="#">0</a></li>
            <li class="page-item page-plus-minus" id="plus1" disabled="disabled"><a class="page-link" href="#">1</a></li>
            <li class="page-item page-plus-minus" id="plus2" disabled="disabled"><a class="page-link" href="#">2</a></li>
            <li class="page-item page-nav" id="next" disabled="disabled"><a class="page-link" href="#">&gt;</a></li>
            <li class="page-item page-nav" id="next-all" disabled="disabled"><a class="page-link" href="#">&gt;&gt;</a></li>
        </ul>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>URL</th>
                <th>Tag 1</th>
                <th>Tag 2</th>
                <th>Tag 3</th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</div>